body{

    margin:0;
    padding:0;

    background:linear-gradient(
        135deg,
        #6cda17,
        #209399,
        #00cec9
    );

    font-family:Arial;
    min-height:100vh;
}

.container{

    width:70%;
    margin:auto;
    padding:30px;
}

h1{

    text-align:center;
    color:white;
}

form{

    background:white;

    padding:20px;

    border-radius:15px;

    display:flex;

    gap:10px;

    margin-bottom:20px;
}

input,
select{

    flex:1;

    padding:10px;

    border-radius:8px;

    border:1px solid #ccc;
}

button{

    background:#6c5ce7;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;
}

.task-card{

    background:white;

    padding:20px;

    border-radius:15px;

    margin-bottom:15px;

    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.High{

    color:red;
    font-weight:bold;
}

.Medium{

    color:orange;
    font-weight:bold;
}

.Low{

    color:green;
    font-weight:bold;
}

.Pending{

    color:black;
    font-weight:bold;
}

.Completed{

    color:yellow;
    font-weight:bold;
}

a{

    margin-right:15px;

    text-decoration:none;

    font-weight:bold;
}